[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pyinstaller = "*"

[packages]
simfile = "*"
wxpython = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
